---
import Base from "../layouts/Base.astro";
import { Code } from "astro:components";
import { Icon } from "astro-icon/components";
const UntypedIcon = Icon as any;
---

<Base title="dreamland.js">
	<div id="hero">
		<img src="/logo.png" width="144" height="144" class="uwuhide" />
		<h1 class="uwuhide">dreamland.js</h1>
		<UntypedIcon class="uwushow" name="uwu" width="24rem" height={undefined} alt="dreamland.js" />
		<p>A utilitarian framework for creating simple UI in javascript</p>
	</div>

	<div id="middle">
		<div id="wrapper">
			<div class="split">
				<div class="code">
					<Code
						code={`function Counter(){
	this.css = \`
color: red;
button {
	border: 3px solid blue;
}\`
	this.counter = 0

	return html\`
		<div>
			<div>count is: \${use(this.counter)}</div>
			<button on:click=\${()=>this.counter++}>Click Me!</button>
		</div>
	\`
}

let root = html\`
	<div>
		<h1>dreamland.js!</h1>
		<\${Counter} ${"/"}>
	<div/>
\`;
document.body.appendChild(root);
`}
						theme="min-dark"
						lang="js"
					/>
				</div>

				<div style="max-width: 45ch ">
					<h3>Write Components without the overhead</h3>
					<p>
						dreamland has <b>no virtual DOM</b> and <b>no build step</b>. Just write your
						components in javascript and attach them to the DOM.
					</p>
					<p>
						dreamland is <b>extremely small</b>, coming in at <b>1.6kb</b> minified and gzipped.
					</p>
				</div>
			</div>

			<div class="doc-flow">
				<h1 class="doc-flow">Start with a single import</h1>
				<p>
					dreamland is a single file that can be imported directly into your project. It is also available <a
						href="https://npmjs.org/package/dreamland">on npm</a
					>.
				</p>
				<div class="code">
					<Code code={`<script src="https://unpkg.com/dreamland"></script>`} lang="html" theme="min-dark" />
				</div>

				<p>
					Learn the basics of dreamland <a href="/learn">here</a>.
				</p>
			</div>
		</div>
	</div>

	<div id="footer">
		<p>dreamland.js is a project by <a href="https://github.com/MercuryWorkshop">Mercury Workshop</a></p>
		<div id="links">
			<a href="https://github.com/MercuryWorkshop/dreamlandjs">GitHub</a>
			<a href="https://npmjs.org/package/dreamland">npm</a>
			<a href="https://x.com/dreamlandjs">Twitter</a>
		</div>
	</div>

	<style is:global>
		body {
			display: flex;
			flex-direction: column;
			height: 100vh;
		}
	</style>
	<style>
		#hero {
			color: white;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				width: 8em;
			}
			h1 {
				margin: 0;
			}
			svg {
				margin-top: 2rem;
			}
		}

		#middle {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #141214;
			padding: 1rem;
			padding-bottom: 3rem;

			#wrapper {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				max-width: 100%;
			}

			.split {
				display: flex;
				gap: 3rem;
				text-align: left;
			}
			@media (max-width: 60rem) {
				.split {
					flex-direction: column-reverse;
					gap: 0;
				}
			}

			.doc-flow {
				text-align: left;
			}

			a {
				color: var(--acc);
				text-decoration: none;
				font-weight: bold;
			}
			.code {
				text-align: left;
				max-width: 40em;
				pre {
					padding: 1rem;
					border-radius: 0.5rem;
					font-size: 0.8rem;
				}
			}
		}
		#footer {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			gap: 1rem;
			flex: 1;
			color: white;
			text-align: center;
			padding: 0.5rem;
			background-color: #211e21;

			a {
				color: white;
				text-decoration: underline;
				border-radius: 0.5em;
			}
		}
		#links {
			display: flex;
			gap: 1em;
		}
	</style>
</Base>
