---
import "styles/style.css";
import Sidebar from "components/Sidebar.astro";
const { headings } = Astro.props;
import { ViewTransitions } from "astro:transitions";

const title =  headings ? headings[0].text + " | dreamland docs" : "404 | dreamland docs";
---

<html lang="en" transition:animate="none">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />


		<meta property="og:url" content="https://dreamland.js.org" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content="Documentation for dreamland, a modern, fast, and lightweight JavaScript framework for building web applications that work." />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Sidebar />
		<main>
			<slot />
		</main>
		<style>
			:root {
				min-height: 100%;
				width: 100vw;
				overflow-x: hidden;
			}
			body {
				display: flex;
				height: 100%;
				margin: 0;
				width: 100%;
				max-width: 90rem;
				margin: 0 auto;
			}
			main {
				padding: 2.5rem;
				overflow-x: hidden;
				width: 100%;
			}
		</style>
	</body>
</html>
