---
import { ViewTransitions } from "astro:transitions";
import { Icon } from "astro-icon/components";

const { title } = Astro.props;

import "styles/style.css";
---

<html lang="en" transition:animate="none">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="shortcut icon" type="image/png" href="logo.png" />

		<meta property="og:url" content="https://dreamland.js.org" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta
			property="og:description"
			content="dreamland.js: A modern, fast, and lightweight JavaScript framework for building web applications that work."
		/>
		<meta property="og:image" content="https://dreamland.js.org/logo.png" />
		<title>{title}</title>
		<ViewTransitions />
		<script>
			function uwu() {
				if (
					new URLSearchParams(document.location.search).has("uwu") &&
					!document.body.classList.contains("uwu")
				) {
					document.body.classList.add("uwu");
					Array.from(document.getElementsByTagName("a")).forEach((a) => {
						const url = new URL(a.href, new URL(document.location.toString()));
						if (url.origin == document.location.origin) {
							url.searchParams.set("uwu", "");
							a.href = url.href;
						}
					});
				}
			}
			document.addEventListener("astro:page-load", uwu);
			uwu();
		</script>
	</head>
	<body>
		<div id="header">
			<!-- <img src="/public/logo.png" alt="dreamland.js logo" /> -->
			<a href="https://github.com/MercuryWorkshop/dreamlandjs">
				<Icon size={30} name="mdi:github" />
			</a>
			<a href="https://discord.gg/GKKF3CmHPA">
				<Icon size={30} name="mdi:discord" />
			</a>
		</div>

		<slot />

		<style>
			body,
			html {
				margin: 0;
			}
			* {
				box-sizing: border-box;
			}
			:root {
				min-height: 100%;
				width: 100vw;
				height: 100vh;
				overflow-x: hidden;
				background-color: var(--bg);
				font-family:
					system-ui,
					-apple-system,
					BlinkMacSystemFont,
					"Segoe UI",
					Roboto,
					Oxygen,
					Ubuntu,
					Cantarell,
					"Open Sans",
					"Helvetica Neue",
					sans-serif;
				font-size: 18px;
				color: white;
				scrollbar-color: #fff2 transparent;
				tab-size: 4;
				--bg: #0b0a0b;
				--hbg: color-mix(in srgb, #0b0a0b, black); /* half background */
				--acc: #ca3eed;
				--bd: #555;
				--bd2: #333;
			}
			#header {
				position: absolute;
				top: 0;
				right: 0;
				height: 5rem;

				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 0.5em;
				padding: 1rem 2.5rem;
				background-color: var(--color-primary);
				color: var(--color-white);
				overflow: hidden;
			}
			#header a {
				color: var(--color-white);
			}
		</style>
	</body>
</html>
